@import url('https://fonts.googleapis.com/css2?family=Alata&family=Inter&family=Josefin+Sans&family=Londrina+Shadow&family=Montserrat&family=Open+Sans&family=Poppins:ital@0;1&family=Public+Sans:wght@400;500&family=Tiro+Devanagari+Hindi:ital@1&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', serif;
}
body, html{
  overflow-x: hidden;
  width: 100vw;
  position: relative;
  max-width: 1500px;
  margin: auto;
  background: rgb(253, 253, 253);
}
.App{
  display: flex;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}